<!-- sidebar -->
<div class="sidebar app-aside" id="sidebar">
	<div class="sidebar-container perfect-scrollbar">
		<nav>
			<!-- start: SEARCH FORM -->
			<div class="search-form">
				<a class="s-open" href="#">
					<i class="ti-search"></i>
				</a>
				<form class="navbar-form" role="search">
					<a class="s-remove" href="#" target=".navbar-form">
						<i class="ti-close"></i>
					</a>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search...">
						<button class="btn search-button" type="submit">
							<i class="ti-search"></i>
						</button>
					</div>
				</form>
			</div>
			<!-- end: SEARCH FORM -->
			<!-- start: MAIN NAVIGATION MENU -->
			<div class="navbar-title">
				<span>Main Navigation</span>
			</div>
			<ul class="main-navigation-menu">
				<li class="active open">
					<a href="/">
						<div class="item-content">
							<div class="item-media">
								<i class="ti-home"></i>
							</div>
							<div class="item-inner">
								<span class="title"> Dashboard </span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div class="item-content">
							<div class="item-media">
								<i class="ti-settings"></i>
							</div>
							<div class="item-inner">
								<span class="title">系统核心管理 </span><i class="icon-arrow"></i>
							</div>
						</div>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="ui_elements.html">
								<span class="title"> 菜单管理 </span>
							</a>
						</li>
						<li>
							<a href="/user/list">
								<span class="title"> 用户管理 </span>
							</a>
						</li>
						
					</ul>
				</li>
				
				
			</ul>
			<!-- end: MAIN NAVIGATION MENU -->
			<!-- start: CORE FEATURES -->
			<div class="navbar-title">
				<span>Core Features</span>
			</div>
			
			<!-- end: CORE FEATURES -->
			<!-- start: DOCUMENTATION BUTTON -->
			<div class="wrapper">
				<a href="file:///E:/Project/GitProject/cliptwo-130/STANDARD/documentation.html" class="button-o">
					<i class="ti-help"></i>
					<span>Documentation</span>
				</a>
			</div>
			<!-- end: DOCUMENTATION BUTTON -->
		</nav>
	</div>
</div>
<!-- / sidebar -->