
<meta charset="UTF-8">
<meta name="fragment" content="!">
<meta base="/">
<meta content="我不去想身后会不会袭来寒风冷雨，既然目标是地平线，留给世界的只能是背影" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<title><?=title?></title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/js/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/lib/validator.js"></script>

<script type="text/javascript" src="/js/lib/bootstrap-datetimepicker/js/moment.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap-datetimepicker/js/zh-cn.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>